---
layout: default
ref: index
lang: en
---


<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Pakenprax</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                {% for culture in site.cultures %}
                <li><a href="{{ culture.root }}"><span class="lang-xs" lang="{{ culture.lang }}"></span></a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your new partner in business</h1>
            <hr>
            <p>Delivering solid and user friendly software solutions since the dawn of time! <br />Check what you can gain with us!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Learn More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">All that you need!</h2>
                <hr class="light">
                <p class="text-faded">We specialize in management and software consulting services, CMS, SEO and Online Marketing. If your company needs services related to web applications, if you want to organize training in the implementation of the new software, you are in the right place! We can also offer you hosting services and deliver SaaS solutions.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Let's Start!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How We Can Help You</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Solid Solutions</h3>
                    <p class="text-muted">Our solutions are the result of many years of experience.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>We Are Here for You</h3>
                    <p class="text-muted">We approach each project individually as a new challenge!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up To Date</h3>
                    <p class="text-muted">We check novelties, we follow trends, we like to keep it fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>We Like It</h3>
                    <p class="text-muted">What we do is more than just a job, it's our passion!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<aside id="portfolio" class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>They Trust Us!</h2>

            <a href="#contact" class="btn btn-default btn-xl wow tada page-scroll" style="visibility: visible; animation-name: tada;">Join In!</a>


        </div>
    </div>
</aside>

{% include clients.html %}

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Would you like to start working with us? We are waiting! Call us or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>+48 691 967 330</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:info@pakenprax.pl">info@pakenprax.pl</a></p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4>
                    <strong>Pakenprax Llc.</strong>
                </h4>
                <p>Dobrego Pasterza 118E/2<br>Kraków, 31-416</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> +48 691 967 330</li>
                    <li>
                        <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:info@pakenprax.pl">info@pakenprax.pl</a>
                    </li>
                </ul>
                <p class="text-muted small">Pakenprax Ltd. is registered in the National Court Register kept in Cracow by the District Court for Kraków-Śródmieście, XI Commercial Division of the National Court Register, KRS number 0000618905 (NIP: 9452194846)</p>
                <hr class="small">
                <p class="text-muted">Copyright © Pakenprax 2016</p>
            </div>
        </div>
    </div>
</footer>
