<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/sony.jpg" class="img-responsive img-centered" alt="logo Sony">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/allianz.jpg" class="img-responsive img-centered" alt="logo Allianz">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/lego.jpg" class="img-responsive img-centered" alt="logo Lego">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/watson-wyatt.jpg" class="img-responsive img-centered" alt="logo Watson-Wyatt">
            </div>
        </div>
    </div>
</aside>
